<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="Annotator"
   iconfile="iconAnnotator.png"
   description="Annotator"
   tooltip="Generate NTriple format's RDF statements."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.trans.step.Annotator.AnnotatorStepMeta">
   <libraries>
		<library name="Annotator.jar"/>
		<library name="KettlePluginTools.jar"/>
	</libraries>
</plugin>
