<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SparqlUpdateOutput"
   iconfile="iconSparqlInsert.png"
   description="Sparql Update Output"
   tooltip="Insert triples in a Triple Store (e.g. Virtuoso) through a SPARQL 1.1 Endpoint."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.SparqlUpdateInsertStepMeta">
   <libraries>
		<library name="SparqlUpdateOutput.jar"/>
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/apache-any23-core-{any23.version}.jar"/>
		<library name="lib/apache-any23-api-{any23.version}.jar"/>
		<library name="lib/apache-any23-csvutils-{any23.version}.jar"/>
		<library name="lib/apache-any23-encoding-{any23.version}.jar"/>
		<library name="lib/apache-any23-mime-{any23.version}.jar"/>
		<library name="lib/httpcore-{apache.httpcore.version}.jar"/>
		<library name="lib/httpclient-{apache.httpclient.version}.jar"/>
		<library name="lib/httpclient-cache-{apache.httpclient.version}.jar"/>
		<library name="lib/jena-core-{apache.jena.version}.jar"/>
		<library name="lib/jena-base-{apache.jena.version}.jar"/>
		<library name="lib/jena-shaded-guava-{apache.jena.version}.jar"/>
    </libraries>
    <localized_category>
     <category locale="en_US">LinkedDataBR</category>
     <category locale="pt_BR">LinkedDataBR</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Sparql Update Output</description>
    <description locale="pt_BR">Sparql Update Output</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Insert triples in a Triple Store (e.g. Virtuoso) through a SPARQL 1.1 Endpoint.</tooltip>
    <tooltip locale="pt_BR">Insere triplas em um banco de triplas através de um Endpoint SPARQL 1.1.</tooltip>
   </localized_tooltip>
</plugin>