/SparqlRunQuery/.settings
/SparqlRunQuery/target
/SparqlRunQuery/*.project
/SparqlRunQuery/*.classpath
/SparqlRunQuery/*
/.metadata
/DataPropertyMapping
/ntriplegenerator

pomOld.xml
*.class
*.classpath
*.project
*.prefs
ObjectPropertyMapping/target/antrun/build-copy-files-to-kettle.xml
*.lst
*.classpath
*.xml
SemanticLevelMarker/target/antrun/build-copy-files-to-kettle.xml
*.properties
*.classpath
SemanticLevelMarker/target/antrun/build-copy-files-to-kettle.xml
*.class
*.class
*.class
/SemanticLevelMarker/.settings
/SemanticLevelMarker/.project
/SemanticLevelMarker/target
/SparqlRunQuery/.project
/SparqlRunQuery/.classpath
