<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="GraphSemanticLevelMarkerPlugin"
   iconfile="iconGraphSemanticLevelMarker.png"
   description="Graph Semantic Level Marker"
   tooltip="Reads a RDF Graph, evaluate its semantic expressivity level and creates a new triple stamping its level."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.GraphSemanticLevelMarkerStepMeta">
   <libraries>
		<library name="GraphSemanticLevelMarker.jar"/>
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/jena-core-{apache.jena.version}.jar"/>
		<library name="lib/jena-base-{apache.jena.version}.jar"/>
		<library name="lib/jena-shaded-guava-{apache.jena.version}.jar"/>
	</libraries>
   <localized_category>
     <category locale="en_US">LinkedDataBR</category>
     <category locale="pt_BR">LinkedDataBR</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Graph Semantic Level Marker</description>
    <description locale="pt_BR">Graph Semantic Level Marker</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Reads a RDF Graph, evaluate its semantic expressivity level and creates a new triple stamping its level.</tooltip>
    <tooltip locale="pt_BR">Lê um grafo RDF, avalia seu nível de expressividade semântica e cria uma nova triple com uma estampa do seu nível.</tooltip>
   </localized_tooltip>
</plugin>