<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="DataPropertyMappingPlugin"
   iconfile="iconDataProperty.png"
   description="Data Property Mapping"
   tooltip="Transform input data into RDF triples, using a defined Data Property mapping."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.lodbr.plugin.triplemapping.DataPropertyMappingStepMeta">
   <libraries>
		<library name="DataPropertyMapping.jar"/>
		<library name="KettlePluginTools.jar"/>
		<library name="xstream-1.3.1.jar"/>		
    </libraries>
</plugin>
