<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="NTripleGeneratorPlugin"
   iconfile="iconNTripleGenerator.png"
   description="NTriple Generator"
   tooltip="Generate NTriple format's RDF statements."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.trans.step.ntriplegenerator.NTripleGeneratorStepMeta">
   <libraries>
		<library name="ntriplegenerator.jar"/>
		<library name="KettlePluginTools.jar"/>
	</libraries>
</plugin>