<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SparqlRunQuery"
   iconfile="iconSparqlRunQuery.png"
   description="Sparql Run Query"
   tooltip="Run a Sparql Query through a SPARQL 1.1 Endpoint."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.lodbr.plugin.sparqlrunquery.SparqlRunQueryStepMeta">
   <libraries>
		<library name="SparqlRunQuery.jar"/>
		<library name="KettlePluginTools.jar"/>
		<library name="aduna-commons-collections-2.3.jar"/>
		<library name="aduna-commons-concurrent-2.2.jar"/>
		<library name="aduna-commons-i18n-1.0.jar"/>
		<library name="aduna-commons-io-2.4.jar"/>
		<library name="aduna-commons-iteration-2.3.jar"/>
		<library name="aduna-commons-lang-2.3.jar"/>
		<library name="aduna-commons-net-2.2.jar"/>
		<library name="aduna-commons-text-2.2.jar"/>
		<library name="aduna-commons-xml-2.2.jar"/>
		<library name="apache-any23-core-1.0.jar"/>
		<library name="commons-cli-1.2.jar"/>
		<library name="commons-codec-1.3.jar"/>
		<library name="commons-codec-1.4.jar"/>
		<library name="commons-compress-1.0.jar"/>
		<library name="commons-httpclient-3.1.jar"/>
		<library name="commons-lang-2.4.jar"/>
		<library name="commons-logging-1.1.1.jar"/>
		<library name="httpclient-4.1.1.jar"/>
		<library name="httpclient-cache-4.1.1.jar"/>
		<library name="httpcore-4.1.jar"/>
		<library name="httpmime-4.1.1.jar"/>
		<library name="icu4j-3.4.4.jar"/>
		<library name="iri-0.8.jar"/>
		<library name="jena-2.6.4.jar"/>		
		<library name="sesame-model-2.2.4.jar"/>
		<library name="sesame-query-2.2.4.jar"/>
		<library name="sesame-queryalgebra-evaluation-2.2.4.jar"/>
		<library name="sesame-queryalgebra-model-2.2.4.jar"/>
		<library name="sesame-queryparser-api-2.2.4.jar"/>
		<library name="sesame-queryparser-serql-2.2.4.jar"/>
		<library name="sesame-repository-api-2.2.4.jar"/>
		<library name="sesame-repository-sail-2.2.4.jar"/>
		<library name="sesame-rio-api-2.2.4.jar"/>
		<library name="sesame-rio-ntriples-2.2.4.jar"/>
		<library name="sesame-rio-rdfxml-2.2.4.jar"/>
		<library name="sesame-rio-turtle-2.2.4.jar"/>
		<library name="sesame-sail-api-2.2.4.jar"/>
		<library name="sesame-sail-inferencer-2.2.4.jar"/>
		<library name="sesame-sail-memory-2.2.4.jar"/>
		<library name="slf4j-api-1.5.6.jar"/>
		<library name="slf4j-jdk14-1.5.6.jar"/>
		<library name="stax-api-1.0.1.jar"/>		
		<library name="tika-core-0.6.jar"/>
		<library name="tika-parsers-0.6.jar"/>
		<library name="wstx-asl-3.2.9.jar"/>
    </libraries>
</plugin>