<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SparqlRunQuery"
   iconfile="iconSparqlRunQuery.png"
   description="Sparql Run Query"
   tooltip="Run a Sparql Query through a SPARQL 1.1 Endpoint."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.SparqlRunQueryStepMeta">
   <libraries>
		<library name="SparqlRunQuery.jar"/>		
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/jena-core-{apache.jena.version}.jar"/>
		<library name="lib/jena-base-{apache.jena.version}.jar"/>
		<library name="lib/jena-shaded-guava-{apache.jena.version}.jar"/>
    </libraries>
    <localized_category>
     <category locale="en_US">LinkedDataBR</category>
     <category locale="pt_BR">LinkedDataBR</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Sparql Run Query</description>
    <description locale="pt_BR">Sparql Run Query</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Run a Sparql Query through a SPARQL 1.1 Endpoint.</tooltip>
    <tooltip locale="pt_BR">Roda uma query Sparql num Enpoint SPARQL 1.1.</tooltip>
   </localized_tooltip>
</plugin>