<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SparqlUpdateOutput"
   iconfile="icon.png"
   description="Sparql Update Output"
   tooltip="Insert triples in a Triple Store (e.g. Virtuoso) through a SPARQL 1.1 Endpoint."
   category="UFRJ_PPGI_GRECO"
   classname="br.ufrj.ppgi.greco.lodbr.plugin.sparqlupdate.SparqlUpdateInsertStepMeta">
   <libraries>
		<library name="SparqlUpdateOutput.jar"/>
		<library name="KettlePluginTools.jar"/>
		<library name="apache-any23-core-1.0.jar"/>
		<library name="apache-any23-api-1.0.jar"/>
		<library name="apache-any23-csvutils-1.0.jar"/>
		<library name="apache-any23-encoding-1.0.jar"/>
		<library name="apache-any23-mime-1.0.jar"/>
		<library name="apache-any23-nquads-1.0.jar"/>
		<library name="httpclient-4.1.1.jar"/>
		<library name="httpclient-cache-4.1.1.jar"/>
		<library name="httpcore-4.1.jar"/>
		<library name="jena-2.6.4.jar"/>
		<library name="xstream-1.3.1.jar"/>
    </libraries>
</plugin>