<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="TurtleGenerator"
   iconfile="turtle.png"
   description="Turtle Generator"
   tooltip="Converte um arquivo csv para rdf turtle."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.TurtleGeneratorStepMeta">
   <libraries>
		<library name="TurtleGenerator.jar"/>
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/xstream-{xstream.version}.jar"/>	
		<library name="lib/xmlpull-{xmlpull.version}.jar"/>
    </libraries>
    <localized_category>
     <category locale="en_US">LinkedDataBR</category>
     <category locale="pt_BR">LinkedDataBR</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Turtle Generator</description>
    <description locale="pt_BR">Turtle Generator</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">CSV to RDF/Turtle converter.</tooltip>
    <tooltip locale="pt_BR">Converte um arquivo csv para rdf turtle.</tooltip>
   </localized_tooltip>
</plugin>
