<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="TurtleGenerator"
   iconfile="turtle.png"
   description="Turtle Generator"
   tooltip="Converte um arquivo csv para rdf turtle."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.TurtleGeneratorStepMeta">
   <libraries>
		<library name="TurtleGenerator.jar"/>
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/xstream-1.4.10.jar"/>
		<library name="lib/xmlpull-1.1.3.1.jar"/>	
    </libraries>
</plugin>
