<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SparqlEndpoint"
   iconfile="iconSparqlQuery.png"
   description="Sparql Endpoint"
   tooltip="Executes query against a SPARQL Endpoint and gets the information."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.kettle.SparqlStepMeta">
   <libraries>
		<library name="SparqlEndpoint.jar"/>
		<library name="lib/KettlePluginTools-1.0.jar"/>
		<library name="lib/jena-core-3.8.0.jar"/>
		<library name="lib/jena-base-3.8.0.jar"/>
		<library name="lib/jena-shaded-guava-3.8.0.jar"/>
		<library name="lib/jena-arq-3.8.0.jar"/>
		<library name="lib/jena-iri-3.8.0.jar"/>
		<library name="lib/libthrift-0.11.0.jar"/>
		<library name="lib/commons-compress-1.13.jar"/>
		
		<library name="lib/xstream-1.4.10.jar"/>
		<library name="lib/xmlpull-1.1.3.1.jar"/>	
    </libraries>
</plugin>
