<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="Silk"
   iconfile="icon.png"
   description="Silk"
   tooltip="Generate NTriple format's RDF statements."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.trans.step.Silk.SilkStepMeta">
   <libraries>
		<library name="KettlePluginTools.jar"/>
	</libraries>
</plugin>
