<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SemanticLevelFramework"
   iconfile="icon.png"
   description="Semantic Level Framework"
   tooltip="Generate NTriple format's RDF statements."
   category="LinkedDataBR"
   classname="br.ufrj.ppgi.greco.trans.step.SemanticLevelFramework.SemanticLevelFrameworkStepMeta">
   <libraries>
		<library name="SemanticLevelFramework.jar"/>
		<library name="KettlePluginTools.jar"/>
	</libraries>
</plugin>
